.bottom-bar {
  background-color: rgb(222, 226, 255);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transition: transform 0.3s ease;
  transform: translateY(0);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-bar.hidden {
  transform: translateY(100%);
}

.bottom-bar-text {
  color: rgb(0, 15, 142);
  font-size: 14px;
  font-weight: bold;
}

.bottom-bar-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  height: 24px;
  width: auto;
}