.bottom-bar {
  background-color: hsl(213, 85%, 87%);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transition: transform 0.3s ease;
  transform: translateY(0);
  z-index: 1000;
}

.bottom-bar.hidden {
  transform: translateY(100%);
}

.bottom-bar-text {
  color: #fff;
  font-size: 14px;
}
