<app-menu></app-menu>
<h2> Oliwia III 3DL</h2>
<body>
    <img src="../../assets/oliwiaIII3dl.jpg" alt="oliwiaIII3dl" (click)="openImageInNewWindow()">
    <p class="opis">Opis:<br><br> Wygodna kanapa do spania z pojemnikiem na pościel. 
        Wykonana na sprężynach typu bonell i piance wysokoelastycznej.</p>
    <p class="wymiary"> Wymiary:</p>
    <table>
        <tbody>
            <tr>
                <td>
                    <span class="marker">kanapa:</span>
                </td>
                <td>200 x 93 x 70 cm</td>
            </tr>
            <tr>
                <td>
                    <span class="marker">pow. spania:</span>
                </td>
                <td>200 x 140 cm</td>
            </tr>
            <tr>
                <td>
                    <span class="marker">Dostępność:</span>
                </td>
                <td>
                    <a class="marker"> {{ avialability }}</a>
                </td>
            </tr>
            <tr *ngIf="avialability === 'Produkt dostępny'">
                <td>
                    <span class="marker">Data odbioru:</span>
                </td>
                <td>
                    <a class="marker"> {{ timing }}</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="ui secondary button" *ngIf="avialability === 'Produkt dostępny'" (click)="addToBasket()">Dodaj do koszyka</div>
</body>
<div class="bottom-bar">
    <p class="bottom-bar-text">Praca inżynierska</p>
</div>