<app-menu></app-menu>
  <header class="mp-header">
    <h1>Witaj na stronie głównej</h1>
    <p>Wybierz jedną z sekcji, aby przejść dalej</p>
  </header>

  <main class="mp-container">
    <section class="mp-grid">
      <a href="news" class="mp-card">
        <img src="../../assets/news.jpg" alt="Aktualności" />
        <div class="mp-card-content">
          <h2>Aktualności</h2>
          <p>Przeczytaj o naszych ostatnich działaniach</p>
        </div>
      </a>

      <a href="portfolio" class="mp-card">
        <img src="../../assets/portfolio.jpg" alt="Portfolio" />
        <div class="mp-card-content">
          <h2>Portfolio</h2>
          <p>Sprawdź co udało nam się dokonać</p>
        </div>
      </a>

      <a href="aboutus" class="mp-card">
        <img src="../../assets/onas.png" alt="O nas" />
        <div class="mp-card-content">
          <h2>O nas</h2>
          <p>Poznaj naszą historię i misję</p>
        </div>
      </a>

      <a href="team" class="mp-card">
        <img src="../../assets/team.jpg" alt="Zespół" />
        <div class="mp-card-content">
          <h2>Zespół</h2>
          <p>Zobacz kim jesteśmy</p>
        </div>
      </a>
      <a href="contact" class="mp-card">
        <img src="../../assets/contact.jpg" alt="Zespół" />
        <div class="mp-card-content">
          <h2>Kontakt</h2>
          <p>Skontaktuj się z nami</p>
        </div>
      </a>
    </section>
  </main>
<app-bottom-bar></app-bottom-bar>