<app-menu></app-menu>

<!-- banner -->
<section class="team-banner">
  <img src="../../assets/zaloga2.jpg" alt="Zespół">
</section>

<section class="team-container">
  <div class="section-header">
    <h1>Zespół</h1>
  </div>
  <div class="cards-grid">
    <div class="card" style="animation-delay: 0.1s;">
      <h3>Beata Filipowicz</h3>
      <h4>Prezes</h4>
      <p class="email"><a href="mailto:beata.filipowicz@ecplus.com.pl">beata.filipowicz@ecplus.com.pl</a></p>
      <p class="bio">W branży dotacyjnej od 2008 roku. Jako osoba zarządzająca spółką analizuje potrzeby klientów
        i dostosowuje oferty do ich wymagań. Wyszukuje dostępne źródła finansowania, zarządza
        projektami, buduje relacje z klientami. Monitoruje aktualne programy i ogłoszenia naborów,
        utrzymuje wiedzę nt. zmian w prawodawstwie związanym z dotacjami. Od lat jest autorem i
        współautorem dokumentów strategiczno-planistycznych (m.in. strategia rozwoju gminy, powiatu,
        gminne programy rewitalizacji) i branżowych (m.in. prognozy oceny oddziaływania na środowisko,
        analizy wrażliwości na zmiany klimatu).
      </p>
    </div>
    <div class="card" style="animation-delay: 0.2s;">
      <h3>Agnieszka Gruszczyńska</h3>
      <h4>Wiceprezes</h4>
      <p class="email"><a href="mailto:agnieszka.gruszczynska@ecplus.com.pl">agnieszka.gruszczynska@ecplus.com.pl</a></p>
      <p class="bio">W środowisku dotacji zewnętrznych pracuje od 2010 roku. Odpowiedzialna za opracowanie finansowej strony dokumentacji aplikacyjnej. Sporządza analizy finansowe, biznesplany czy studia wykonalności. Udziela pomocy i wskazówek osobom odpowiedzialnym za projekty w obszarze prawidłowego zarządzania finansami. Koordynuje również realizację projektów po otrzymaniu dofinansowania. Aktualnie jako wiceprezes buduje i utrzymuje długoterminowe relacje z klientami oraz partnerami biznesowymi, koordynuje strategię firmy.</p>
    </div>
    <div class="card" style="animation-delay: 0.3s;">
      <h3>Magdalena Kulczyńska</h3>
      <h4>Specjalista ds. projektów inwestycyjnych</h4>
      <p class="email"><a href="mailto:magdalena.kulczynska@ecplus.com.pl">magdalena.kulczynska@ecplus.com.pl</a></p>
      <p class="bio">Od 2016 roku w branży dotacyjnej, poza zdobyciem cennego doświadczenia w zakresie budowania pozytywnych relacji z klientem, rozliczyła i zakończyła z oceną pozytywną ponad 30  projektów inwestycyjnych oraz badawczo-rozwojowych. Aktualnie koordynuje rozliczanie projektu z zakresu ochrony zdrowia, kultury i targów międzynarodowych. W procesie aplikacji o środki unijne, dba o merytoryczną i formalną poprawność projektów, analizuje wymagania i współpracuje z partnerami zewnętrznymi. Udziela informacji oraz wsparcia w zakresie dotacji. Reprezentuje firmę na spotkaniach i konferencjach dotyczących funduszy unijnych.</p>
    </div>
  </div>
</section>

<app-bottom-bar></app-bottom-bar>