:root {
  --accent: #009bdf;
  --highlight: #fe9400;    /* pomarańczowy pasek */
  --bg: #f9f9f9;
  --text: #333;
  --card-bg: #fff;
  --radius: 12px;
  --transition: 0.4s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font);
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.6;
}

app-menu,
app-bottom-bar {
  display: block;
}

.team-banner {
  width: 70%;
  height: 30%;
  margin: 0 auto;           
  justify-content: center; 
  overflow: hidden;
  padding: 1% 0;       
}


.team-banner img {
  margin-top: 0.65rem;
  width: auto;
  height: auto;
  display: block;
}

section.team-container {
  margin: 2rem 15% 0;
  padding-bottom: 3rem;
}

.section-header {
  background-color: rgb(246, 106, 18);
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section-header h1 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(260px, 1fr));
  gap: 2rem 5%;
  align-items: start;
}

.card {
  background: rgb(241, 242, 255);
  border-top: 4px solid var(--accent);
  border-radius: var(--radius);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  padding: 1.5rem;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease forwards;
}

.card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
  transition: transform var(--transition), box-shadow var(--transition);
}

.card h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: rgb(0, 15, 142);
}

.card h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: rgb(246, 106, 18);
}

.card p {
  font-size: 1.3rem;
  margin-bottom: 0.75rem;
  color: rgb(32, 37, 51);
}

.card .bio {
  font-size: 1.3rem;
  color: var(--text);
  color: rgb(32, 37, 51);
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.email a {
  color: var(--accent);
  text-decoration: none;
}

/* animacja przy wczytywaniu */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 620px) {
  .cards-grid {
    grid-template-columns: 1fr;
    gap: 1.25rem;
  }
}