/* Wyśrodkowanie formularza */
h1.page-title {
    font-size: 28px;
    text-align: center;
}

.Rejestracja {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Wykorzystaj całą dostępną wysokość ekranu */
  }
  
  /* Stylizacja formularza */
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    margin-top: 5px;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #0074cc;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }