<app-menu></app-menu>
  <section class="hero">
    <h1>Nowoczesne Doradztwo Finansowe i Strategiczne</h1>
    <p>Wspieramy rozwój projektów publicznych i prywatnych dzięki sprawdzonym rozwiązaniom i unijnym funduszom.</p>
  </section>

  <main class="container">
    <section id="about" class="cards">
      <div class="card">
        <h2>O nas</h2>
        <p><strong>EC+ Sp. z o.o.</strong> to nowoczesna firma doradcza specjalizująca się w dwóch obszarach: pozyskiwaniu środków zewnętrznych z programów krajowych i europejskich a także planowania strategicznego, analiz środowiskowych i wrażliwości na zmiany klimatu. </p>
        <p>Choć jesteśmy nowym podmiotem na rynku, tworzymy zespół ekspertów z ponad 15-letnim doświadczeniem w skutecznym aplikowaniu o fundusze unijne i krajowe na rzecz przedsiębiorstw, jednostek samorządu terytorialnego, organizacji pozarządowych, spółek komunalnych, instytucji publicznych, szkół i szpitali.</p>
        <p>Zespół firmy tworzą doświadczeni eksperci z zakresu urbanistyki, ochrony środowiska, rewitalizacji i planowania przestrzennego, którzy posiadają wieloletnie doświadczenie w opracowywaniu dokumentów strategicznych i środowiskowych.</p>
      </div>
      <div class="card">
        <h2>Misja</h2>
        <p>Wspieramy rozwój, oferując indywidualne rozwiązania finansowania i strategie zgodne z klimatem. Każdy projekt traktujemy indywidualnie, dobierając źródła finansowania do potrzeb i celów naszych klientów. Wspieramy jednostki samorządu terytorialnego, instytucje publiczne w tworzeniu dokumentów niezbędnych do zrównoważonego i zgodnego z przepisami rozwoju lokalnego.</p>
      </div>
    </section>

    <section id="services">
      <h2>Zakres usług</h2>
      <div class="cards">
        <div class="card">
          <ul>
            <li>Identyfikacja odpowiednich programów finansowania (FELU, FEnIKS, FENG, KPO, PROW, i inne)</li>
            <li>Kompleksowe przygotowanie dokumentacji aplikacyjnej (wnioski, biznesplany, studia wykonalności)</li>
            <li>Tworzenie analiz finansowych, analiz kosztów i korzyści</li>
            <li>Obsługa formalna projektów na etapie oceny i podpisywania umowy</li>
          </ul>
        </div>
        <div class="card">
          <ul>
            <li>Zarządzanie projektami i rozliczanie dotacji</li>
            <li>Opracowanie strategii rozwoju gmin, powiatu i obszarów funkcjonalnych</li>
            <li>Programy rewitalizacji (GPR) z partycypacją</li>
            <li>Sporządzenie analiz wrażliwości na zmiany klimatu</li>
            <li>Przeprowadzenie strategicznej oceny oddziaływania na środowisko</li>
          </ul>
        </div>
      </div>
    </section>

    <section id="why">
      <h2>Dlaczego my?</h2>
      <div class="cards">
        <div class="card"><li>Zespół złożony z ekspertów, którzy pozyskali łącznie miliony złotych dotacji w poprzednich latach</li></div>
        <div class="card"><li>Bogate doświadczenie w projektach <strong>inwestycyjnych, infrastrukturalnych, partnerskich</strong></li></div>
        <div class="card"><li>Indywidualne podejście, zaangażowanie, wysoka skuteczność, pełna przejrzystość działania </li></div>
        <div class="card"><li>Znajomość wymagań instytucji przyznających finansowanie</li></div>
        <div class="card"><li>Doświadczenie w pracy z jednostkami sektora publicznego</li></div>
        <div class="card"><li>Kompleksowe podejście: od diagnozy, przez analizę, po konsultacje i wdrożenie</li></div>
      </div>
    </section>

    <div class="cta">
      <a class="btn" href="portfolio">Zobacz Portfolio</a>
      &nbsp;
      <a class="btn" href="contact">Skontaktuj się</a>
    </div>
  </main>

  <footer> </footer>
  <app-bottom-bar></app-bottom-bar>