<app-menu></app-menu>
<h2> Wersalka zwykła</h2>
<body>
    <img src="../../assets/classiccouch.jpg" alt="venus3dl" (click)="openImageInNewWindow()">
    <p class="wymiary"> Wymiary:</p>
    <table>
        <tbody>
            <tr>
                <td>
                    <span class="marker">Wersalka:</span>
                </td>
                <td>195 x 86 x 88 cm</td>
            </tr>
            <tr>
                <td>
                    <span class="marker">pow. spania:</span>
                </td>
                <td>190 x 110 cm</td>
            </tr>
            <tr>
                <td>
                    <span class="marker">Dostępność:</span>
                </td>
                <td>
                    <a class="marker"> {{ avialability }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="marker">Data odbioru:</span>
                </td>
                <td>
                    <a class="marker"> {{ timing }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="marker">Zamów:</span>
                </td>
                <td>
                    <button class="registry" (click)="order()">Zamów</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>
<div class="bottom-bar">
    <p class="bottom-bar-text">Praca inżynierska</p>
</div>