<app-menu></app-menu>
<h2> Wersalka zwykła</h2>
<body>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.2/semantic.min.css">
    <img src="../../assets/classiccouch.jpg" alt="venus3dl" (click)="openImageInNewWindow()">
    <h3 class="wymiary"> Wymiary:</h3>
    <table [ngClass]="{'show-on-scroll': tableVisible}" id="myTable">
        <colgroup>
            <col style="width: 50%;">
            <col style="width: 50%;"> 
          </colgroup>
        <tbody>
            <tr>
                <td>
                    <span class="marker">Wersalka:</span>
                </td>
                <td>195 x 86 x 88 cm</td>
            </tr>
            <tr>
                <td>
                    <span class="marker">pow. spania:</span>
                </td>
                <td>190 x 110 cm</td>
            </tr>
            <tr>
                <td>
                    <span class="marker">Dostępność:</span>
                </td>
                <td>
                    <a class="marker"> {{ availability }}</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="ui secondary button" *ngIf="availability === 'Produkt dostępny'" (click)="addToBasket()">Dodaj do koszyka</div>
</body>
<app-bottom-bar></app-bottom-bar>