<app-menu></app-menu>
<h2> Tapczan Kuba</h2>
<body>
    <img src="../../assets/divanKuba.jpg" alt="divanKuba" (click)="openImageInNewWindow()">
    <p class="opis">Opis:<br><br> Wygodny tapczan pojedynczy do spania z pojemnikiem na pościel.</p>
    <p class="wymiary"> Wymiary:</p>
    <table>
        <tbody>
            <tr>
                <td>
                    <span class="marker">pow. spania:</span>
                </td>
                <td>195 x 80 cm</td>
            </tr>
            <tr>
                <td>
                    <span class="marker">Dostępność:</span>
                </td>
                <td>
                    <a class="marker"> {{ avialability }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="marker">Data odbioru:</span>
                </td>
                <td>
                    <a class="marker"> {{ timing }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="marker">Zamów:</span>
                </td>
                <td>
                    <button class="registry" (click)="order()">Zamów</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>
<div class="bottom-bar">
    <p class="bottom-bar-text">Praca inżynierska</p>
</div>