<app-menu></app-menu>
<h2> Tapczan Kuba</h2>
<body>
    <img src="../../assets/divanKuba.jpg" alt="divanKuba" (click)="openImageInNewWindow()">
    <p class="opis">Opis:<br><br> Wygodny tapczan pojedynczy do spania z pojemnikiem na pościel.</p>
    <p class="wymiary"> Wymiary:</p>
    <table>
        <tbody>
            <tr>
                <td>
                    <span class="marker">pow. spania:</span>
                </td>
                <td>190 x 80 cm</td>
            </tr>
            <tr>
                <td>
                    <span class="marker">Dostępność:</span>
                </td>
                <td>
                    <a class="marker"> {{ availability }}</a>
                </td>
            </tr>
            <tr *ngIf="availability === 'Produkt dostępny'">
                <td>
                    <span class="marker">Data odbioru:</span>
                </td>
                <td>
                    <a class="marker"> {{ timing }}</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="ui secondary button" *ngIf="availability === 'Produkt dostępny'" (click)="addToBasket()">Dodaj do koszyka</div>
</body>
<app-bottom-bar></app-bottom-bar>