<body>
  <app-menu></app-menu>
  <h2 class="name">STOLMEL</h2>
   <div class="center-container">
    <div>
      <a class="email"> E-mail:</a> <a class="value-email"> stolmel@wp.pl</a>
    </div>
    <h2 class="space"></h2>
    <div>
      <a class="telefon"> Telefon:</a> <a class="value-telefon"> 81 307 04 92</a>
    </div>
    <h2 class="space"></h2>
    <div>
      <a class="adres"> Adres:</a> <a class="value-adres"> Stara wieś 29, 21-013 Puchaczów</a>
    </div>
    </div>
    <iframe style="border:none;overflow:hidden" marginheight="0" marginwidth="0" aria-label="Stolmel Stara Wieś" class="sek-lazy-loaded" src="https://maps.google.com/maps?q=Stolmel%20Stara%20Wie%C5%9B&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near"></iframe>
</body>
<app-bottom-bar></app-bottom-bar>