.center-container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
  }
  
  .name {
    text-align: center;
    font-size: 25px;
    margin-top: 100px;
  }
  
  .contact {
    font-size: 36px;
    margin: 10px 0;
  }
  
  a.email, a.telefon, a.adres {
    font-weight: bold;
    margin-top: 5px;
    font-size: 20px;
  }
  
  a.value-email, a.value-telefon, a.value-adres {
    margin-left: 10px;
    font-size: 20px;
  }
  
  .space {
    margin-top: 5px;
  }

  iframe {
    border: none;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    width: 800px;
    height: 600px;
    margin-bottom: 5%;
  }