<body>
  <app-menu></app-menu>
   <h2 class="name">STOLMEL</h2>
   <div class="center-container">
</div>
   <h2 class="contact">KONTAKT</h2>
   <div>
    <a class="email"> E-mail:</a> <a class="value-email"> stolmel@wp.pl</a>
   </div>
   <h2 class="space"></h2>
   <div>
    <a class="telefon"> Telefon:</a> <a class="value-telefon"> 81 307 04 92</a>
   </div>
   <h2 class="space"></h2>
   <div>
    <a class="adres"> Adres:</a> <a class="value-adres"> Stara wieś 29, 21-013 Puchaczów</a>
   </div>
 </body>
