.history {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.order-container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.orders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
}

.order-details {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 80%;
  max-width: 600px;
}

.product-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
}

.product-details {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px 0;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
}

.order-details .ui.secondary.button {
  width: 100px;
  margin-top: 10px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}