<body>
  <app-menu></app-menu>
  <div class="button-container">
    <div class="ui secondary button" [routerLink]="['/myaccount']">Dane konta</div>
    <div class="ui secondary button" [routerLink]="['/basket']">Koszyk</div>
    <div class="ui secondary button" [routerLink]="['/history']">Historia zamówień</div>
  </div>
  <h2 class="history">Historia zamówień</h2>

  <div class="orders">
    <!-- Use ngFor to iterate over orders -->
    <div *ngFor="let order of id; let i = index">
      <!-- Display order information -->
      <div class="order-details">
        <p>Numer zamówienia: {{ order }}</p>
        <p>Status: {{ state[i] }}</p>
        <p>Data złożenia zamówienia: {{ timestamp[i] }}</p>
      </div>

      <!-- Display products for this order -->
      <ul class="product-list">
        <li *ngFor="let product of name[i]; let j = index">
          <div class="product-details">
            <p>Nazwa: {{ product }}</p>
            <p>Cena: {{ price[i][j] }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</body>
