<body>
  <app-menu></app-menu>
  <app-buttons></app-buttons>
  <h2 class="basket">Twój Koszyk</h2>

  <div class="product-container">
    <ul class="product-list">
      <li *ngFor="let product of name; let i = index">
        <div class="product-details">
          <p>Nazwa: {{ product }}</p>
          <p>Cena: {{ price[i] }}</p>
          <div class="ui secondary button" (click)="removeFromBasket(product)">Usuń</div>
        </div>
      </li>
    </ul>
  </div>
  <div class="finish" *ngIf="timestamp !== ''">
    <a class="deliver-time"> Czas dostawy koszyka: &nbsp;</a> <a class="value-email"> {{ timestamp }}</a>
  </div>
  <div class="center-container">
    <div class="ui secondary button order-button" (click)="order()" *ngIf="timestamp !== ''">Złóż zamówienie</div>
  </div>
</body>
<app-bottom-bar></app-bottom-bar>