.button-container {
    display: flex;
    justify-content: space-between;
    margin: 2% 10% 0 10%;
}

.ui.secondary.button {
    width: 200px;
}

.basket {
    font-size: 25px;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
    font-weight: bold;
}

  .product-container {
    width: 50%;
    margin: 0 auto;
  }
  
  .product-list {
    list-style: none;
    padding: 0;
    text-align: center;
  }

  .product-details {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px auto;
  }

  .ui.secondary.button {
    margin-top: 10px;
  }
  
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
  }