<app-menu></app-menu>
<h2> Venus fotel</h2>
<body>
    <img src="../../assets/venusfotel.jpg" alt="venusfotel" (click)="openImageInNewWindow()">
    <p class="wymiary"> Wymiary:</p>
    <table>
        <tbody>
            <tr>
                <td>
                    <span class="marker">fotel:</span>
                </td>
                <td>200 x 93 x 70 cm</td>
            </tr>
            <tr>
                <td>
                    <span class="marker">Dostępność:</span>
                </td>
                <td>
                    <a class="marker"> {{ avialability }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="marker">Data odbioru:</span>
                </td>
                <td>
                    <a class="marker"> {{ timing }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="marker">Zamów:</span>
                </td>
                <td>
                    <button class="registry" (click)="order()">Zamów</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>
<div class="bottom-bar">
    <p class="bottom-bar-text">Praca inżynierska</p>
</div>